{% extends 'base.html.twig' %}

{% block titulo %}-Tarea{% endblock %}

{% block menu_tarea %}class="active"{% endblock %}

{% block body %}
    <h1>Nueva Tareas</h1>

    <label>Descripcion:</label>
    <br>
    <textarea id="nueva_tarea" rows="10" cols="20">

    </textarea>

{% endblock %}

